<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset= "utf-8">
	<meta name="author" content="A Little Dream">
	<meta name="description" content = "">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/materialize/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/fa/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
	<title>Homepage | A Little Dream</title>
</head>
<body>
<header>
	<nav class="top-nav white hide-on-large-only">
		<div class = "container">
			<a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only" >
				<i class="fa fa-bars"></i>
			</a>
			<a href="#" class="brand-logo center valign-center"><img src="/static/images/logo-typo.png" height="48px" /></a>
		</div>
	</nav>
	<ul id = "nav-web" class="side-nav hide-on-med-and-down" style="transform:translateX(0%);" >
		<a id = "logo-container" href="#" class="brand-logo">
			<img src="/static/images/logo.jpg"/>
		</a>
		<li class = "bold">
			<a href="/index/" class="waves-effect waves-grey">Home</a>
		</li>
		<li class = "bold">
			<a href="/story/" class="waves-effect waves-grey">Story</a>
		</li>
		<li class = "bold">
			<a href="/lookbook/" class="waves-effect waves-grey">Lookbook</a>
		</li>
		<li class = "bold">
			<a class="waves-effect waves-grey" href="/contact/">Contact</a>
		</li>
		<li class = "bold">
			<a href="/service/" class="waves-effect waves-grey">Service</a>
		</li>
		<ul class="social">
			<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-weibo"></i></a></li>
		</ul>
		<p class="copy">Copyright@A Little Dream</p>
	</ul>
	<ul id = "nav-mobile" class="side-nav" >
		<a id = "logo-container" href="#" class="brand-logo">
			<img src="/static/images/logo.jpg"/>
		</a>
		<li class = "bold">
			<a href="/" class="waves-effect waves-grey">Home</a>
		</li>
		<li class = "bold">
			<a href="/story/" class="waves-effect waves-grey">Story</a>
		</li>
		<li class = "bold">
			<a href="/lookbook/" class="waves-effect waves-grey">Lookbook</a>
		</li>
		<li class = "bold">
			<a class="waves-effect waves-grey" href="/contact/">Contact</a>
		</li>
		<li class = "bold">
			<a href="/service/" class="waves-effect waves-grey">Service</a>
		</li>
		<ul class="social">
			<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-weibo"></i></a></li>
		</ul>
		<p class="copy">Copyright@A Little Dream</p>
	</ul>
</header>
<main>
	<div class="content page" id ="about">
		<div class="banner valign-wrapper" style="background-image:url(/static/images/4.jpg)">
			<div class="page-title valign-wrapper">
				<h4 class="valign">Story</h4>
			</div>
		</div>
		<div class="row">
			<div class="col l6 m6 s12">
				<img src="/static/images/logo-960.jpg" class="responsive-img">
			</div>
			<div class="col l6 m6 s12">
				<div class="special-text">
					About "A Little Dream"
				</div>
				<div class="text">
<p>”a little dream” is a shoe and accesories brand for babies and toddlers.</p>
<p>“a little dream” shoes gathers all the qualities a boy or girls needs in a first steps shoe. Soft and light, the shoes give freedom of movement, flexibility and balance for unequalled comfort.</p>
<p>Every shoe is hand-made using non-chemical tested leather which is sown to an impeccable finish. The final product provides our little ones with a fashionable and comfortable look!</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col l6 m6 s12">
				<div class="special-text">
					About Alejandra
				</div>
				<div class="text">
<p>Everything is created lovingly by Alejandra, a Latin American designer and mother of two boys with over a decade of fashion experience in New York, Mexico and London.</p>
				</div>
			</div>
			<div class="col l6 m6 s12" style="text-align:right;">
				<img src="/static/images/6.jpg" class="responsive-img">			
			</div>
		</div>
	</div>
</main>
<footer>
</footer>
</body>
<script type = "text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
<script type="text/javascript">
  $('.button-collapse').sideNav({
      menuWidth: 240, // Default is 240
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    }
  );
</script>
