<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset= "utf-8">
	<meta name="author" content="A Little Dream">
	<meta name="description" content = "">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/materialize/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/fa/css/font-awesome.min.css">

	{% block css %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
	<nav class="top-nav white hide-on-large-only">
		<div class = "container">
			<a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only" >
				<i class="fa fa-bars"></i>
			</a>
			<a href="#" class="brand-logo center valign-center"><img src="/static/images/logo-typo.png"/></a>
		</div>
	</nav>
	<ul id = "nav-mobile" class="side-nav" >
		<a id = "logo-container" href="#" class="brand-logo">
			<img src="/static/images/logo-dot.png" width="150px;" />
		</a>
      <li><a class="grey-text text-darken-3" href="/">Home</a></li>
      <li><a class="grey-text text-darken-3" href="#!">Lookbook</a></li>
      {% for page in pages %}
      <li><a class="grey-text text-darken-3" href="/p/{{ page.slug }}/">{{ page.title }}</a></li>
      {% endfor %}
		<ul class="social">
			<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="https://instagram.com/alemorad" target="_blank"><i class="fa fa-instagram"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-weibo"></i></a></li>
		</ul>
	</ul>
	<div class="container hide-on-med-and-down">
		<ul class="social" id="social-web">
			<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="https://instagram.com/alemorad" target="_blank"><i class="fa fa-instagram"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-weibo"></i></a></li>
		</ul>
		<div class="logo">
			<a id = "logo-container" href="#" class="brand-logo">
				<img src="/static/images/logo-typo.png" />
			</a>
		</div>
		<nav>
			<div class="nav-wrapper">
				<ul id = "nav-web" class="hide-on-med-and-down">
		          <li><a href="/">Home</a></li>
		          <li><a href="/lookbook/">Lookbook</a></li>
		          {% for page in pages %}
		          <li><a href="/p/{{ page.slug }}/">{{ page.title }}</a></li>
		          {% endfor %}
				</ul>
			</div>
		</nav>
	</div>
</header>
<main>
	{% block content%}
	{% endblock %}
</main>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">Hand made with LOVE</h5>
        <p class="grey-text text-darken-4">”a little dream” is a shoe and accesories brand born in London and lovingly designed by Alejandra for babies and toddlers.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="black-text">A Little Dream</h5>
        <ul>
          <li><a class="grey-text text-darken-3" href="/">Home</a></li>
          <li><a class="grey-text text-darken-3" href="/lookbook/">Lookbook</a></li>
          {% for page in pages %}
          <li><a class="grey-text text-darken-3" href="/p/{{ page.slug }}/">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <p class="grey-text text-darken-3">© 2016, A Little Dream, All rights reserved</p>
    </div>
  </div>
</footer>
</body>
<script type = "text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
<script type="text/javascript">
  $('.button-collapse').sideNav({
      menuWidth: 240, // Default is 240
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    }
  );
</script>
{% block js %}{% endblock %}