<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset= "utf-8">
	<meta name="author" content="A Little Dream">
	<meta name="description" content = "">
	<link rel="stylesheet" type="text/css" href="static/materialize/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="static/fa/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/vegas/jquery.vegas.min.css">
	<title>Homepage | A Little Dream</title>
</head>
<body>
	<div class="container">
		   
	</div>
</body>
<script type = "text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="static/vegas/jquery.vegas.min.js"></script>
<script>
$.vegas({
  src:'static/images/comming-soon.jpg',
  fade:500 // milliseconds
});
</script>
</html>
