{% extends "base.html" %}

	{% block title %}Homepage | A Little Dream{% endblock %}
<main>
	{% block content %}
	<div class="content container page" id ="contact">
		<div class="banner valign-wrapper" style="background-image:url(/static/images/7.jpg);background-position:top;">
			<div class="page-title valign-wrapper">
				<h4 class="valign">Contact</h4>
			</div>
		</div>
		<div class="row">
			<div class="col l6 m12 s12">
				<div class="special-text">
					Get In Touch
				</div>
				<div class="text">
				<p>Phone:</p>
				<p>Address</p>
				<p>Email</p>
				</div>
			</div>
			<div class="col l6 m12 s12">
				<div class="special-text">
					Send Us A Message
				</div>
			    <form class="col s12">
			      <div class="row">
			        <div class="input-field col s6">
			          <input id="first_name" type="text" class="validate">
			          <label for="first_name">Name</label>
			        </div>
			        <div class="input-field col s6">
			          <input id="last_name" type="text" class="validate">
			          <label for="last_name">Email</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			          <input id="subject" type="text" class="validate">
			          <label for="subject">Subject</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			          <textarea id="textarea1" class="materialize-textarea"></textarea>
			          <label for="textarea1">Message</label>
			        </div>
			      </div>
			      <div class="row">
			      	<a href="#!" class="submit">Submit</a>
			      </div>
			    </form>
			</div>
		</div>
	</div>
	{% endblock %}
