<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset= "utf-8">
	<meta name="author" content="A Little Dream">
	<meta name="description" content = "">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/materialize/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/fa/css/font-awesome.min.css">
	<title>Homepage | A Little Dream</title>
</head>
<body>
<header>
	<nav class="top-nav white hide-on-large-only">
		<div class = "container">
			<a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only" >
				<i class="fa fa-bars"></i>
			</a>
			<a href="#" class="brand-logo center valign-center"><img src="/static/images/logo-typo.png" /></a>
		</div>
	</nav>
	<ul id = "nav-web" class="side-nav hide-on-med-and-down" style="transform:translateX(0%);" >
		<a id = "logo-container" href="#" class="brand-logo">
			<img src="/static/images/logo-dot.png" width="150px;" />
		</a>
		<li class = "bold">
			<a href="/index/" class="waves-effect waves-grey">Home</a>
		</li>
		<li class = "bold">
			<a href="/story/" class="waves-effect waves-grey">About Us</a>
		</li>
		<li class = "bold">
			<a href="/lookbook/" class="waves-effect waves-grey">Lookbook</a>
		</li>
		<li class = "bold">
			<a class="waves-effect waves-grey" href="/contact/">Contact</a>
		</li>
		<li class = "bold">
			<a href="/service/" class="waves-effect waves-grey">Costumer Services</a>
		</li>
		<li class = "bold">
			<a href="/info/" class="waves-effect waves-grey">Useful Information</a>
		</li>
		<ul class="social">
			<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-weibo"></i></a></li>
		</ul>
		<p class="copy">Copyright@A Little Dream</p>
	</ul>
	<ul id = "nav-mobile" class="side-nav" >
		<a id = "logo-container" href="#" class="brand-logo">
			<img src="/static/images/logo-dot.png" width="150px;" />
		</a>
		<li class = "bold">
			<a href="/" class="waves-effect waves-grey">Home</a>
		</li>
		<li class = "bold">
			<a href="/story/" class="waves-effect waves-grey">About Us</a>
		</li>
		<li class = "bold">
			<a href="/lookbook/" class="waves-effect waves-grey">Lookbook</a>
		</li>
		<li class = "bold">
			<a href="/service/" class="waves-effect waves-grey">Costumer Services</a>
		</li>
		<li class = "bold">
			<a href="/info/" class="waves-effect waves-grey">Useful Information</a>
		</li>
		<ul class="social">
			<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-weibo"></i></a></li>
		</ul>
		<p class="copy">Copyright@A Little Dream</p>
	</ul>
</header>
<main>
	<div class="content page" id ="contact">
		<div class="banner valign-wrapper" style="background-image:url(/static/images/7.jpg);background-position:top;">
			<div class="page-title valign-wrapper">
				<h4 class="valign">Contact</h4>
			</div>
		</div>
		<div class="row">
			<div class="col l6 m12 s12">
				<div class="special-text">
					Get In Touch
				</div>
				<div class="text">
				<p>Phone:</p>
				<p>Address</p>
				<p>Email</p>
				</div>
			</div>
			<div class="col l6 m12 s12">
				<div class="special-text">
					Send Us A Message
				</div>
			    <form class="col s12">
			      <div class="row">
			        <div class="input-field col s6">
			          <input id="first_name" type="text" class="validate">
			          <label for="first_name">Name</label>
			        </div>
			        <div class="input-field col s6">
			          <input id="last_name" type="text" class="validate">
			          <label for="last_name">Email</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			          <input id="subject" type="text" class="validate">
			          <label for="subject">Subject</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			          <textarea id="textarea1" class="materialize-textarea"></textarea>
			          <label for="textarea1">Message</label>
			        </div>
			      </div>
			      <div class="row">
			      	<a href="#!" class="submit">Submit</a>
			      </div>
			    </form>
			</div>
		</div>
	</div>
</main>
<footer>
</footer>
</body>
<script type = "text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
<script type="text/javascript">
  $('.button-collapse').sideNav({
      menuWidth: 240, // Default is 240
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    }
  );
</script>
