{% extends "base.html" %}

	{% block title %}Homepage | A Little Dream{% endblock %}

	{% block content %}
	<div class="content container">
		<div class="row">
			<div class="grid col l12 m12 s12 fullwidth">
				<a href="/story/" class="valign-wrapper">
					<img src="{{ homepage.banner.url }}" class="responsive-img" / >
				</a>
			</div>
			{% for link in homepage.links.all %}
			<div class="grid col l6 m12 s12">
				<a href="/category/{{ link.category.slug }}/" class="valign-wrapper">
					<img src="{{ link.image.url }}" class="responsive-img">
					<div class="grid-title-panel center">
					<div class="grid-title"><span>{{ link.title }}</span></div>
					</div>
				</a>
			</div>
			{% empty %}
			<h4>You haven't set the homepage link(icon) in your admin interface.</h4>
			{% endfor %}
		</div>
	</div>
	{% endblock %}
