{% extends "base.html" %}
{% block title %}Useful Information | A Little Dream {% endblock %}
{% block content %}
	<div class="content container page" id ="service">
		<div class="banner valign-wrapper" style="background-image:url({{ page.banner.url  }})">
			<div class="page-title valign-wrapper">
				<h4 class="valign">{{ page.title }}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col l12 m12 s12">
				<div class="special-text">
					Size Guide For Shoes
				</div>
				<div class="table-panel">
				<table class="striped responsive-table centered">
					<thead>
						<tr>
							<th>Age</th>
							<th>Size US</th>
							<th>Size US</th>
							<th>Max length cm/inches</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>0-6 months</td>
							<td>1-2</td>
							<td>0-2</td>
							<td>11 cm / 4"</td>
						</tr>
						<tr>
							<td>6-12 months</td>
							<td>2-3</td>
							<td>2-3</td>
							<td>11,8 cm / 4.5"</td>
						</tr>
						<tr>
							<td>12-18 months</td>
							<td>3-4</td>
							<td>3-4</td>
							<td>12,5 cm / 5"</td>
						</tr>
						<tr>
							<td>18-24 months</td>
							<td>4-5</td>
							<td>4-5</td>
							<td>13,5 cm / 5.25"</td>
						</tr>
						<tr>
							<td>2-3 years</td>
							<td>6-7</td>
							<td>5-6</td>
							<td>14,5 cm / 5.75"</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
		{% for s in page.sections.all %}
		{% if forloop.counter|divisibleby:2 %}
		<div class="row">
			<div class="col l6 m6 s12">
				<div class="special-text">
					{{ s.title }}
				</div>
				<div class="text">
					{{ s.content|linebreaksbr }}
				</div>
			</div>
			<div class="col l6 m6 s12 center ">
				<img src="{{ s.image.url }}" class="responsive-img">
			</div>
		</div>
		{% else %}
		<div class="row">
			<div class="col l6 m6 s12 center ">
				<img src="{{ s.image.url }}" class="responsive-img">
			</div>
			<div class="col l6 m6 s12">
				<div class="special-text">
					{{ s.title }}
				</div>
				<div class="text">
					{{ s.content|linebreaksbr }}
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
{% endblock %}
