<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset= "utf-8">
	<meta name="author" content="A Little Dream">
	<meta name="description" content = "">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/materialize/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/fa/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css">
	<title>Homepage | A Little Dream</title>
</head>
<body>
<header>
	<nav class="top-nav white hide-on-large-only">
		<div class = "container">
			<a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only" >
				<i class="fa fa-bars"></i>
			</a>
			<a href="#" class="brand-logo center valign-center"><img src="/static/images/logo-typo.png" height="48px" /></a>
		</div>
	</nav>
	<ul id = "nav-web" class="side-nav hide-on-med-and-down" style="transform:translateX(0%);" >
		<a id = "logo-container" href="#" class="brand-logo">
			<img src="/static/images/logo.jpg"/>
		</a>
		<li class = "bold">
			<a href="/index/" class="waves-effect waves-grey">Home</a>
		</li>
		<li class = "bold">
			<a href="/story/" class="waves-effect waves-grey">Story</a>
		</li>
		<li class = "bold">
			<a href="/lookbook/" class="waves-effect waves-grey">Lookbook</a>
		</li>
		<li class = "bold">
			<a class="waves-effect waves-grey" href="/contact/">Contact</a>
		</li>
		<li class = "bold">
			<a href="/service/" class="waves-effect waves-grey">Services</a>
		</li>
		<ul class="social">
			<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-weibo"></i></a></li>
		</ul>
		<p class="copy">Copyright@A Little Dream</p>
	</ul>
	<ul id = "nav-mobile" class="side-nav" >
		<a id = "logo-container" href="#" class="brand-logo">
			<img src="/static/images/logo.jpg"/>
		</a>
		<li class = "bold">
			<a href="/" class="waves-effect waves-grey">Home</a>
		</li>
		<li class = "bold">
			<a href="/story/" class="waves-effect waves-grey">Story</a>
		</li>
		<li class = "bold">
			<a href="/lookbook/" class="waves-effect waves-grey">Lookbook</a>
		</li>
		<li class = "bold">
			<a class="waves-effect waves-grey" href="/contact/">Contact</a>
		</li>
		<li class = "bold">
			<a href="/service/" class="waves-effect waves-grey">Services</a>
		</li>
		<ul class="social">
			<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-weibo"></i></a></li>
		</ul>
		<p class="copy">Copyright@A Little Dream</p>
	</ul>
</header>
<main>
	<div class="content">
		<ul class="tiles-wrap animated" id="lookbook">
			<li><a href="/static/images/1.jpg"><img src="/static/images/1.jpg" class="responsive-img"></a></li>
			<li><a href="/static/images/5.jpg"><img src="/static/images/5.jpg" class="responsive-img"></a></li>
			<li><a href="/static/images/3.jpg"><img src="/static/images/3.jpg" class="responsive-img"></a></li>
			<li><a href="/static/images/2.jpg"><img src="/static/images/2.jpg" class="responsive-img"></a></li>
			<li><a href="/static/images/4.jpg"><img src="/static/images/4.jpg" class="responsive-img"></a></li>
			<li><a href="/static/images/6.jpg"><img src="/static/images/6.jpg" class="responsive-img"></a></li>
			<li><a href="/static/images/1.jpg"><img src="/static/images/1.jpg" class="responsive-img"></a></li>
			<li><a href="/static/images/5.jpg"><img src="/static/images/5.jpg" class="responsive-img"></a></li>
			<li><a href="/static/images/3.jpg"><img src="/static/images/3.jpg" class="responsive-img"></a></li>
			<li><a href="/static/images/2.jpg"><img src="/static/images/2.jpg" class="responsive-img"></a></li>
			<li><a href="/static/images/4.jpg"><img src="/static/images/4.jpg" class="responsive-img"></a></li>
			<li><a href="/static/images/6.jpg"><img src="/static/images/6.jpg" class="responsive-img"></a></li>
		</div>
	</div>
</main>
<footer>
</footer>
</body>
<script type = "text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.wookmark.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.imagesloaded.js"></script>
<script type="text/javascript">
  $('.button-collapse').sideNav({
      menuWidth: 240, // Default is 240
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    }
  );
</script>
<script type="text/javascript">
(function ($) {
  // Prepare layout options.
  var wookmark;
  // Init lightbox
  $('#lookbook').magnificPopup({
    delegate: 'li a',
    type: 'image',
    mainClass: 'mfp-with-zoom',
	zoom: {
	    enabled: true, // By default it's false, so don't forget to enable it

	    duration: 300, // duration of the effect, in milliseconds
	    easing: 'ease-in-out', // CSS transition easing function

	    // The "opener" function should return the element from which popup will be zoomed in
	    // and to which popup will be scaled down
	    // By defailt it looks for an image tag:
	    opener: function(openerElement) {
	      // openerElement is the element on which popup was initialized, in this case its <a> tag
	      // you don't need to add "opener" option if this code matches your needs, it's defailt one.
	      return openerElement.is('img') ? openerElement : openerElement.find('img');
	    }
	 }
  });
  // Call the layout function after all images have loaded
  imagesLoaded('#lookbook', function () {
    wookmark = new Wookmark('#lookbook', {
      offset: 5, // Optional, the distance between grid items
      itemWidth: 230 // Optional, the width of a grid item
    });
  });
})(jQuery);

</script>
