<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset= "utf-8">
	<meta name="author" content="A Little Dream">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content = "">
	<link rel="stylesheet" type="text/css" href="/static/materialize/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/fa/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="/static/slick/slick.css">

	<title>Homepage | A Little Dream</title>
</head>
<body>
<header>
	<nav class="top-nav white hide-on-large-only">
		<div class = "container">
			<a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only" >
				<i class="fa fa-bars"></i>
			</a>
			<a href="#" class="brand-logo center valign-center"><img src="/static/images/logo-typo.png" /></a>
		</div>
	</nav>
	<ul id = "nav-web" class="side-nav hide-on-med-and-down" style="transform:translateX(0%);" >
		<a id = "logo-container" href="#" class="brand-logo">
			<img src="/static/images/logo-dot.png" width="150px;" />
		</a>
		<li class = "bold">
			<a href="/index/" class="waves-effect waves-grey">Home</a>
		</li>
		<li class = "bold">
			<a href="/story/" class="waves-effect waves-grey">About Us</a>
		</li>
		<li class = "bold">
			<a href="/lookbook/" class="waves-effect waves-grey">Lookbook</a>
		</li>
		<li class = "bold">
			<a class="waves-effect waves-grey" href="/contact/">Contact</a>
		</li>
		<li class = "bold">
			<a href="/service/" class="waves-effect waves-grey">Costumer Services</a>
		</li>
		<li class = "bold">
			<a href="/info/" class="waves-effect waves-grey">Useful Information</a>
		</li>
		<ul class="social">
			<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-weibo"></i></a></li>
		</ul>
		<p class="copy">Copyright@A Little Dream</p>
	</ul>
	<ul id = "nav-mobile" class="side-nav" >
		<a id = "logo-container" href="#" class="brand-logo">
			<img src="/static/images/logo-dot.png" width="150px;" />
		</a>
		<li class = "bold">
			<a href="/" class="waves-effect waves-grey">Home</a>
		</li>
		<li class = "bold">
			<a href="/story/" class="waves-effect waves-grey">About Us</a>
		</li>
		<li class = "bold">
			<a href="/lookbook/" class="waves-effect waves-grey">Lookbook</a>
		</li>
		<li class = "bold">
			<a class="waves-effect waves-grey" href="/contact/">Contact</a>
		</li>
		<li class = "bold">
			<a href="/service/" class="waves-effect waves-grey">Costumer Services</a>
		</li>
		<li class = "bold">
			<a href="/info/" class="waves-effect waves-grey">Useful Information</a>
		</li>
		<ul class="social">
			<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-weibo"></i></a></li>
		</ul>
		<p class="copy">Copyright@A Little Dream</p>
	</ul>
</header>
<main>
	<div class="content">
		<div class="row">
			<div class="col l4 m6 s12">
				<div class="card">
					<div class="card-img">
						<div>
							<img src="/static/images/p1-1.jpg" class="responsive-img" >
						</div>
						<div>
							<img src="/static/images/p1-2.jpg" class="responsive-img" >
						</div>
					</div>
					<div class="card-content">
						<h5 class="title">Dorothy</h5>
						<p class="short">Shine with these textured leather shoes, be the prettiest girl in the party!</p>
						<ul class="color">
							<li style="background-color:#bb283b;"></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col l4 m6 s12">
				<div class="card">
					<div class="card-img">
						<div>
							<img src="/static/images/p2-1.jpg" class="responsive-img" >
						</div>
						<div>
							<img src="/static/images/p2-2.jpg" class="responsive-img" >
						</div>
					</div>
					<div class="card-content">
						<h5 class="title">Hippie Moccasin</h5>
						<p class="short">Easy matching and fun pull-up soft leather moccasins are great for every day use. Giving a Bohemian and comfortable look!</p>
						<ul class="color">
							<li style="background-color:#543532;"></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col l4 m6 s12">
				<div class="card">
					<div class="card-img">
						<div>
							<img src="/static/images/p1-1.jpg" class="responsive-img" >
						</div>
						<div>
							<img src="/static/images/p1-2.jpg" class="responsive-img" >
						</div>
					</div>
					<div class="card-content">
						<h5 class="title">Dorothy</h5>
						<p class="short">Shine with these textured leather shoes, be the prettiest girl in the party!</p>
						<ul class="color">
							<li style="background-color:#bb283b;"></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col l4 m6 s12">
				<div class="card">
					<div class="card-img">
						<div>
							<img src="/static/images/p2-1.jpg" class="responsive-img" >
						</div>
						<div>
							<img src="/static/images/p2-2.jpg" class="responsive-img" >
						</div>
					</div>
					<div class="card-content">
						<h5 class="title">Hippie Moccasin</h5>
						<p class="short">Easy matching and fun pull-up soft leather moccasins are great for every day use. Giving a Bohemian and comfortable look!</p>
						<ul class="color">
							<li style="background-color:#543532;"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		  <ul class="pagination">
		    <li class="disabled"><a href="#!"><i class="fa fa-chevron-left"></i></a></li>
		    <li class="active"><a href="#!">1</a></li>
		    <li class="waves-effect"><a href="#!">2</a></li>
		    <li class="waves-effect"><a href="#!">3</a></li>
		    <li class="waves-effect"><a href="#!">4</a></li>
		    <li class="waves-effect"><a href="#!">5</a></li>
		    <li class="waves-effect"><a href="#!"><i class="fa fa-chevron-right"></i></a></li>
		  </ul>
	</div>
</main>

<script type = "text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
<script type="text/javascript">
  $('.button-collapse').sideNav({
      menuWidth: 240, // Default is 240
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    }
  );
</script>
<script type="text/javascript" src="/static/slick/slick.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
	  $('.card-img').slick({
	      dots: false,
		  infinite: true,
		  speed: 500,
		  fade: true,
		  cssEase: 'linear',
		  prevArrow:'<button type="button" class="slick-prev"><i class="fa fa-chevron-left"></i></button>',
		  nextArrow:'<button type="button" class="slick-next"><i class="fa fa-chevron-right"></i></button>',
		  swipe:true
	  });
	});
</script>
</body>
</html>