{% extends "base.html" %}
	{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/slick/slick.css">
	{% endblock %}
	{% block title %}{{ category.name }} | A Little Dream{% endblock %}

	{% block content %}
	<div class="content container">
		<div class="banner valign-wrapper" style="background-image:url(/static/images/14.jpg)">
			<div class="page-title valign-wrapper">
				<h4 class="valign">{{ category.name }}</h4>
			</div>
		</div>
		<div class="row">
			{% for product in products %}
			<div class="col l4 m6 s12">
				<div class="card">
					<div class="card-img">
						{% for image in product.images.all %}
						<div>
							<img src="{{ image.image.url }}" class="responsive-img" >
						</div>
						{% endfor %}
					</div>
					<div class="card-content">
						<h5 class="title">{{ product.name }}</h5>
						<p class="short">{{ product.short_description }}</p>
						<ul class="color">
							{% for color in product.color.all %}
							<li style="background-color:{{ color.color }};"></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% empty %}
			<h4>No products found!</h4>
			{% endfor %}
		</div>
		<div class="row paginator">
			{% if products.has_previous %}
		    <div class="col l6 m6 s6">
		    	<a href="#!" class="left"><i class="fa fa-chevron-left"></i>&nbsp;Previous</a>
		    </div>
		    {% endif %}
		    {% if products.has_next %}
		    <div class="col l6 m6 s6">
		    	<a href="#!" class="right">Next&nbsp;<i class="fa fa-chevron-right"></i></a>
		    </div>
		    {% endif %}
		</div>
	</div>
	{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/slick/slick.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
	  $('.card-img').slick({
	      dots: false,
		  infinite: true,
		  speed: 500,
		  fade: true,
		  cssEase: 'linear',
		  prevArrow:'<button type="button" class="slick-prev"><i class="fa fa-chevron-left"></i></button>',
		  nextArrow:'<button type="button" class="slick-next"><i class="fa fa-chevron-right"></i></button>',
		  swipe:true
	  });
	});
</script>
{% endblock %}
