{% extends "base.html" %}

	{% block title %}Costumer Services | A Little Dream{% endblock %}
	{% block content %}
	<div class="content container page" id ="service">
		<div class="banner valign-wrapper" style="background-image:url(/static/images/2.jpg)">
			<div class="page-title valign-wrapper">
				<h4 class="valign">Costumer Services</h4>
			</div>
		</div>
		<div class="row">
			<div class="col l6 m6 s12">
				<img src="/static/images/3.jpg" class="responsive-img">
			</div>
			<div class="col l6 m6 s12">
				<div class="special-text">
					Return and Exchange
				</div>
				<div class="text">
				<p>For any exchange request, please contact us within 14 days after receipt product. We handle returns and exchanges on a case by case basis focusing in the satisfaction of the costumer at all times.</p>
	}
<p>ONLY Products bought directly through a little dream in their original packaging and not used will be accepted in return. </p>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
